In [8]:
#Importing Libraries
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from yahoofinancials import YahooFinancials

In [9]:
ticker_details = pd.read_excel("Ticker List.xlsx")
ticker = ticker_details['Ticker'].to_list()
names = ticker_details['Description'].to_list()

In [10]:
#Extracting Data from Yahoo Finance and Adding them to Values table using date as key
end_date= datetime.strftime(datetime.today(),'%Y-%m-%d')
start_date = "2010-01-10"
date_range = pd.bdate_range(start=start_date,end=end_date)
"""
Create a date-range and write it to an empty dataframe named values. Here I would extract and 
past the values pulled from yahoofinancials.
"""
values = pd.DataFrame({ 'Date': date_range})
values['Date']= pd.to_datetime(values['Date'])

In [11]:
from pandas import DataFrame 
#Extracting Data from Yahoo Finance and Adding them to Values table using date as key
for i in ticker:
    raw_data = YahooFinancials(i)
    raw_data = raw_data.get_historical_price_data(start_date, end_date, "daily")
    df = DataFrame(raw_data[i]['prices'])[['formatted_date','adjclose']]
    df.columns = ['Date1',i]
    df['Date1']= pd.to_datetime(df['Date1'])
    values = values.merge(df,how='left',left_on='Date',right_on='Date1')
    values = values.drop(labels='Date1',axis=1)

#Renaming columns to represent instrument names rather than their ticker codes for ease of readability
names.insert(0,'Date')
values.columns = names

In [12]:
# Front filling the NaN values in the data set
values = values.fillna(method="ffill",axis=0)
values = values.fillna(method="bfill",axis=0)
values.isna().sum()

# Co-ercing numeric type to all columns except Date
cols=values.columns.drop('Date')
values[cols] = values[cols].apply(pd.to_numeric,errors='coerce').round(decimals=1)
imp = ['Gold','Silver', 'Crude Oil', 'S&P500','MSCI EM ETF']

# Calculating Short term -Historical Returns
change_days = [1,3,5,14,21]

data = pd.DataFrame(data=values['Date'])
for i in change_days:
    x= values[cols].pct_change(periods=i).add_suffix("-T-"+str(i))
    data=pd.concat(objs=(data,x),axis=1)
    x=[]

# Calculating Long term Historical Returns
change_days = [60,90,180,250]

for i in change_days:
    x= values[imp].pct_change(periods=i).add_suffix("-T-"+str(i))
    data=pd.concat(objs=(data,x),axis=1)
    x=[]

#Calculating Moving averages for Gold
ma = DataFrame(values['Date'],columns=['Date'])
ma['Date']=pd.to_datetime(ma['Date'],format='%Y-%b-%d')
ma['15SMA'] = (values['Gold']/(values['Gold'].rolling(window=15).mean()))-1
ma['30SMA'] = (values['Gold']/(values['Gold'].rolling(window=30).mean()))-1
ma['60SMA'] = (values['Gold']/(values['Gold'].rolling(window=60).mean()))-1
ma['90SMA'] = (values['Gold']/(values['Gold'].rolling(window=90).mean()))-1
ma['180SMA'] = (values['Gold']/(values['Gold'].rolling(window=180).mean()))-1
ma['90EMA'] = (values['Gold']/(values['Gold'].ewm(span=90,adjust=True,ignore_na=True).mean()))-1
ma['180EMA'] = (values['Gold']/(values['Gold'].ewm(span=180,adjust=True,ignore_na=True).mean()))-1
ma = ma.dropna(axis=0)
#Merging Moving Average values to the feature space

data['Date']=pd.to_datetime(data['Date'],format='%Y-%b-%d')
data = pd.merge(left=data,right=ma,how='left',on='Date')
data = data[data['Gold-T-250'].notna()]
prediction_data = data.copy()

In [22]:
from pycaret.classification import *
#Loading the stored model
classifier_22 = load_model("22D Classifier");
#Making Predictions
prediction = predict_model(classifier_22,data=prediction_data)

Transformation Pipeline and Model Successfully Loaded

In [23]:
prediction[['Date','Label','Score']].tail(30)

           Date  Label  Score
2786 2020-09-15    0.0    NaN
2787 2020-09-16    0.0    NaN
2788 2020-09-17    0.0    NaN
2789 2020-09-18    0.0    NaN
2790 2020-09-21    0.0    NaN
2791 2020-09-22    0.0    NaN
2792 2020-09-23    0.0    NaN
2793 2020-09-24    0.0    NaN
2794 2020-09-25    0.0    NaN
2795 2020-09-28    0.0    NaN
2796 2020-09-29    0.0    NaN
2797 2020-09-30    0.0    NaN
2798 2020-10-01    0.0    NaN
2799 2020-10-02    0.0    NaN
2800 2020-10-05    0.0    NaN
2801 2020-10-06    0.0    NaN
2802 2020-10-07    0.0    NaN
2803 2020-10-08    0.0    NaN
2804 2020-10-09    0.0    NaN
2805 2020-10-12    0.0    NaN
2806 2020-10-13    0.0    NaN
2807 2020-10-14    0.0    NaN
2808 2020-10-15    0.0    NaN
2809 2020-10-16    0.0    NaN
2810 2020-10-19    0.0    NaN
2811 2020-10-20    0.0    NaN
2812 2020-10-21    0.0    NaN
2813 2020-10-22    0.0    NaN
2814 2020-10-23    0.0    NaN
2815 2020-10-26    0.0    NaN